*::selection {
    background: none;
}

.tier-label, .tier-row {
    height: 50px;
}

.red {
    background: #F4FF81;
}

.blue {
    background: #80D8FF;
}

.green {
    background: #7CB342;
}

.grey {
    background: #78909C;
}