<div class="row tier-container" ng-repeat="(key, tier) in tiers">
    <div id="{{key}}-label" class="tier-label col-xs-2 {{tier.color}} text-uppercase">{{tier.name}}</div>
    <div id="{{key}}" class="tier-row col-xs-10 {{tier.color}}" ng-drop="true"
         ng-drop-success="drop($data, $event, key)">
        <span ng-repeat="god in tiers[key].gods">
            <avatar god="god"/>
        </span>
    </div>
</div>
<div id="selection" ng-drop="true" ng-drop-success="resetGod($data, $event)" style="background: red; min-height:200px;">
    <span ng-repeat="god in availableGods">
        <avatar god="god"/>
    </span>
</div>