.avatar {
    float: left;
    height: 78px;
    margin-right: 5px;
    margin-left: 5px;
}

.avatar > .avatar-frame {
    height: 78px;
    width: 79px;
    position: relative;
    z-index: 200;
    background: url(../../assets/icons/frame-inactive.png) no-repeat top left;
}

.avatar > .avatar-frame:hover {
    background: url(../../assets/icons/frame-active.png) no-repeat top left;
}

.avatar img {
    position: relative;
    top: -70px;
    left: 9px;
    height: 62px;
    width: 62px;
    z-index: 10;
}