*::selection {
    background: none;
}

.avatar {
    float: left;
    height: 78px;
    margin-right: 5px;
    margin-left: 5px;
}

.avatar-frame {
    height: 78px;
    width: 79px;
    position: relative;
    z-index: 200;
    background: url(../../assets/icons/frame-inactive.png) no-repeat top left;
}

.avatar img {
    position: relative;
    top: -70px;
    left: 9px;
    height: 62px;
    width: 62px;
    z-index: 10;
}

/* ====== TIER ======*/
.tier-label, .tier-row {
    min-height: 56px;
}

.tier-row {
    padding-top: 3px;
    padding-bottom: 3px;
}

.tier-container {
    margin-bottom: 10px;
}

/* ====== COLORS ======*/
.red {
    background: #F4FF81;
}

.blue {
    background: #80D8FF;
}

.green {
    background: #7CB342;
}

.grey {
    background: #78909C;
}